<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/panel">Panel</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a></li>
</div>
<div th:if="${samePassword}">
    New password must be different from old password.
</div>
<div th:if="${passwordMismatch}">
    Password is mismatched.
</div>
<form th:action="@{/change_password}" method="post">
    <div><label> Old Password: <input type="password" name="oldPassword"/> </label></div>
    <div><label> New Password : <input type="password" name="newPassword"/> </label></div>
    <div><label> Confirm new password: <input type="password" name="matchNewPassword"/> </label></div>
    <div><input type="submit" value="Change Password"/></div>
</form>
</body>
</html>