<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <input type="text" name="pranal" value="${record.pranal}"></tr>
        <input type="text" name="datai" value="${record.datai}"></tr>
        <input type="text" name="datao" value="${record.datao}"></tr>
        <input type="text" name="dataz" value="${record.dataz}"></tr>
        <input type="text" name="datap" value="${record.datap}"></tr>
        <input type="text" name="gat" value="${record.gat}"></tr>
        <input type="text" name="koment" value="${record.koment}"></tr>
        <input type="text" name="zatw" value="${record.zatw}"></tr>
        <input type="text" name="przygot" value="${record.przygot}"></tr>
        <input type="text" name="przygot_c" value="${record.przygot_c}"></tr>
        <input type="text" name="przygot_h" value="${record.przygot_h}"></tr>
        <input type="text" name="przygot_o" value="${record.przygot_o}"></tr>
        <input type="text" name="przygot_n" value="${record.przygot_n}"></tr>
        <input type="text" name="robo" value="${record.robo}"></tr>
        <input type="text" name="_C" value="${record._C}"></tr>
        <input type="text" name="_Mn" value="${record._Mn}"></tr>
        <input type="text" name="_Si" value="${record._Si}"></tr>
        <input type="text" name="_P" value="${record._P}"></tr>
        <input type="text" name="_S" value="${record._S}"></tr>
        <input type="text" name="_Cu" value="${record._Cu}"></tr>
        <input type="text" name="_Cr" value="${record._Cr}"></tr>
        <input type="text" name="_Ni" value="${record._Ni}"></tr>
        <input type="text" name="_Mo" value="${record._Mo}"></tr>
        <input type="text" name="_V" value="${record._V}"></tr>
        <input type="text" name="_W" value="${record._W}"></tr>
        <input type="text" name="_As" value="${record._As}"></tr>
        <input type="text" name="_Alc" value="${record._Alc}"></tr>
        <input type="text" name="_Alr" value="${record._Alr}"></tr>
        <input type="text" name="_Sn" value="${record._Sn}"></tr>
        <input type="text" name="_Sb" value="${record._Sb}"></tr>
        <input type="text" name="_Co" value="${record._Co}"></tr>
        <input type="text" name="_Pb" value="${record._Pb}"></tr>
        <input type="text" name="_Ti" value="${record._Tic}"></tr>
        <input type="text" name="_Ti" value="${record._Tir}"></tr>
        <input type="text" name="_Nb" value="${record._Nb}"></tr>
        <input type="text" name="_Bc" value="${record._Bc}"></tr>
        <input type="text" name="_Bro" value="${record._Bro}"></tr>
        <input type="text" name="_Ca" value="${record._Ca}"></tr>
        <input type="text" name="_Zn" value="${record._Zn}"></tr>
        <input type="text" name="_Hc" value="${record._Hc}"></tr>
        <input type="text" name="_Hd" value="${record._Hd}"></tr>
        <input type="text" name="_O2" value="${record._O2}"></tr>
        <input type="text" name="_N2" value="${record._N2}"></tr>
        <input type="text" name="_Fe" value="${record._Fe}"></tr>
    </table>
</div>
</body>
</html>